:root {
    --background-color: white;
    --text-color: #001826;
    --link-color: #0091c9;
    --border-color: #001826;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #001826;
        --text-color: white;
        --link-color: #c297b8;
        --border-color: white;
    }
}
