/* @import url('https://rsms.me/inter/inter.css'); */
/* @supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
        font-family: grad, serif;
    }
} */

html {
    font-family: 'Inter', sans-serif;
    font-size: 1.0em;
    color: var(--text-color);
    background-color: var(--background-color);
}

#content {
    margin: auto;
    max-width: 700px;
}

#header {
    max-width: 600px;
    margin: 2% auto;
    padding: 0.5%;
    overflow: auto;
    display: flex;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px dashed var(--border-color);
    font-size: 1.2em
}

a, a:link, a:visited {
    color: var(--link-color);
}

a:visited {
    text-decoration: none;
}

img#logo {
    max-width: 50px;
    max-height: 50px;
    margin: 0 2%;
}

#navigation {
    margin: auto 0;
    display: flex;
    flex: 1;
}

#navigation .navbar-item {
    padding: 5px;
    flex: 1;
    text-align: center;
}

#navigation a {
    color: inherit;
}

.navbar-item a:visited {
    text-decoration: overline;
}

.navbar-item a:link {
    text-decoration: none;
}

.navbar-item a:hover {
    text-decoration: underline;
}

.navbar-item a:active {
    text-decoration: none;
}

.nav-active {
    border: 1px solid black;
}

#about {
    display: flex;
}

#portrait {
    margin: 0% 2%;
}

#name {
    text-align: center;
}

@media screen and (max-width: 600px) {

    #header {
        flex-direction: column;
    }

    #navigation {
        flex-direction: column;
    }

    img#logo {
        margin: 2% auto;
        flow: 1;
    }

    #about {
        flex-direction: column;
    }

    #portrait {
        margin: 0 auto;
        /* flex: 1; */
    }
}
