#header {
    max-width: 600px;
    margin: 2% auto;
    padding: 0.5%;
    overflow: auto;
    display: flex;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px dashed var(--border-color);
    font-size: 1.2em;
    flex-direction: row;
}


img#logo {
    max-width: 50px;
    max-height: 50px;
    margin: auto 2%;
}

#navigation {
    margin: auto 0;
    display: flex;
    flex: 1;
}

#navigation .navbar-item {
    padding: 5px;
    flex: 1;
    text-align: center;
}

#navigation a {
    color: inherit;
}

.navbar-item a:visited {
    text-decoration: overline;
}

.navbar-item a:link {
    text-decoration: none;
}

.navbar-item a:hover {
    text-decoration: underline;
}

.navbar-item a:active {
    text-decoration: none;
}

.nav-active {
    border: 1px solid var(--border-color);
}

@media screen and (max-width: 600px) {

    .navbar-item {
        padding: auto auto;
        min-width: 45%;
        max-width: 45%;
    }

    #navigation {
        margin: 0% auto;
        flex-flow: wrap;
        /* flex-direction: column; */
    }
}
