<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <head>
        <title></title>
        <link rel="stylesheet" href="/styles/colors.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/navigation.css">
        <link rel="stylesheet" href="/styles/article.css">
    </head>
    <link rel="shortcut icon" type="image/png" href="/logo.png"/>
    </head>
    <body>
        <div id="name">
            <h2>Sam Thomas</h2>
        </div>
        <div id="header">
            <img src="/logo.png" alt="flower" width="50" height="50" id="logo">
            <div id="navigation"></div>
        </div>
        <div id="content"></div>
    </body>
</html>
