<div class="article">
  <div class="title">
    <a href="{{url}}">{{title}}</a>
  </div>
  <span class="authors">
      by
      {{#authors}}
          <span class="comma">{{.}}</span>
      {{/authors}}
  </span>
  <span class="date">{{date}}</span>
</div>
